/*
Error: Undefined variable: "$color_sky".
        on line 42 of src/styles/scss/_form.scss
        from line 3 of src/styles/scss/index.scss

37: /* and for keyboard users, override everything with
38:    a border when focused on any element *\/
39: body.user-is-tabbing *:focus {
40:   box-shadow: 0 0 1em $color_focus_ring !important;
41: }
42: 
43: /* fake focus class for elements like labels of custom-styled buttons that hide html inputs *\/
44: .fake-focus {
45:   box-shadow: 0 0 1em $color_focus_ring !important;
46: }
47: 

Backtrace:
src/styles/scss/_form.scss:42
src/styles/scss/index.scss:3
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block (2 levels) in visit_import'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `map'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:328:in `block in visit_import'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/plugin.rb:109:in `method_missing'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/sarahschneider/.rbenv/versions/2.2.4/lib/ruby/gems/2.2.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/Users/sarahschneider/.rbenv/versions/2.2.4/bin/sass:23:in `load'
/Users/sarahschneider/.rbenv/versions/2.2.4/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$color_sky\".\A         on line 42 of src/styles/scss/_form.scss\A         from line 3 of src/styles/scss/index.scss\A \A 37: /* and for keyboard users, override everything with\A 38:    a border when focused on any element */\A 39: body.user-is-tabbing *:focus {\A 40:   box-shadow: 0 0 1em $color_focus_ring !important;\A 41: }\A 42: \A 43: /* fake focus class for elements like labels of custom-styled buttons that hide html inputs */\A 44: .fake-focus {\A 45:   box-shadow: 0 0 1em $color_focus_ring !important;\A 46: }\A 47: "; }
